<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chien.zhihuxposed">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:fullBackupContent="@xml/backup_descriptor">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="知乎助手" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>
</manifest>
